<% set_meta_tags title: "Редактирование статьи ", description: "Редактирование статьи на i360.cam",
                 reverse: true,
                 og: { title: "Редактирование статьи | i360.cam" }
%>

<% breadcrumb :articleedit, @article %>
<h2>Редактирование статьи</h2>

<%= render 'form', article: @article %>

<%= link_to 'К статье', @article %> |
<%= link_to 'К статьям', articles_path %>
