<% set_meta_tags title: "Новая статья ", description: "Новая статья на i360.cam",
                 reverse: true,
                 og: { title: "Новая статья | i360.cam" }
%>
<% breadcrumb :articlenew, @article %>
<h2>Новая статья</h2>

<%= render 'form', article: @article %>

<%= link_to 'К статьям', articles_path %>
