<% set_meta_tags title: "Посты "+@user.nickname, description: "Посты "+@user.nickname+" на i360.cam",
                 reverse: true,
                 og: { title: "Посты "+@user.nickname+" | i360.cam", image: request.protocol + request.host + ((!@posts.empty?)?@posts.first.panoramas.first.image.url(:thumb):"" ) }
%>
<% breadcrumb :posts, @posts %>
<style>
  .pagination {


    margin-top: 10px;
    align-items: center;
    justify-content: center;
  }
  .pagination ul
  {
    display:flex;
  }

</style>
<h3>Посты пользователя <%= @user.nickname %></h3>
                <div class="row">

                  <div class="col-md-8 col-lg-9">
                    <div class="tz-gallery">
                        <div class="row">
   <%= render @posts %>
                        </div>
                    </div>
<div id="paginatediv">
           <%= will_paginate @posts, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
</div>

                </div>

                <div class="col-md-4 col-lg-3">

                  <h3>Теги</h3>

<hr>


                  <% @posts.map do |post| %>
                  <%=raw post.tags.uniq.map( &:name ).map {|t| link_to "#"+ t, tag_path(t), class: 'badge badge-primary'}.join(' ')%>
                  <% end %>


                </div>



</div>