body {
  padding-top:90px;
	box-sizing:border-box;
}

@media (min-width: 992px) {
  body {
    padding-top:72px;
  }
}

@media (max-width: 768px) {
    body {
        padding-top:72px;
    }
}

.center {
  margin:auto;
}


