<p>Привет <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>Мы вам сообщаем вам, что ваш email будет изменен на  <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>Мы вам сообщаем вам, что ваш email был изменен на <%= @resource.email %>.</p>
<% end %>
