<% breadcrumbs style: :bootstrap do |links| %>
<ol class="breadcrumb">
  <% if links.any? %>
    <% links.each do |link| %>

    <% if link!=links.last %>

<li class="breadcrumb-item">
      <%= link_to link.url, data: { turbolinks: false } do %>

<span> <%= link.text  %></span>
<% end %>

      </li>

      <% else %>
<li class="breadcrumb-item">


<span> <%= link.text  %></span>


      </li>
    <% end %>


      
    <% end %>
  <% end %>
  </ol>
<% end %>