<hr>
    <div class="footer-basic">
        <footer>
            <div class="social"><a href=" <%= raw Page.where(slug: 'instagram_url').take ? Page.where(slug: 'instagram_url').take.title: ""  %>"><i class="fa fa-instagram"></i></a><a href=" <%= raw Page.where(slug: 'vk_url').take ? Page.where(slug: 'vk_url').take.title: ""  %>"><i class="fa fa-vk"></i></a></div>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="/">Главная</a></li>
                <li class="list-inline-item"><a href="/about">О сервисе</a></li>
                <li class="list-inline-item"><a href="/tags">Теги</a></li>
            </ul>
            <p class="copyright">i360.cam © 2018</p>
        </footer>
    </div>