<hr>
    <div class="footer-basic">
        <footer>
            <div class="social"><a href="#"><i class="fa fa-instagram"></i></a><a href="#"><i class="fa fa-vk"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-facebook"></i></a></div>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="/">Главная</a></li>
                <li class="list-inline-item"><a href="/about">О сервисе</a></li>
                <li class="list-inline-item"><a href="/tags">Теги</a></li>
            </ul>
            <p class="copyright">i360.cam © 2018</p>
        </footer>
    </div>d